/* Import _misc */
@import '_misc/_colors';
@import '_misc/_fonts';
@import '_misc/_mixin';

/* Base settings */
* {
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    margin: 0;
    padding: 0;

    color: $white;
    @include regular;
    font-size: 1.4rem;
}

h1, h2, h3, h4, h5, h6,
button, input {
    text-transform: uppercase;
    @include bold;
}

/* Main styles */

div[class$="container"] {
    width: 1000px;

    padding: 0 25px;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header {
    &-title {
        height: 100px;
        background: $black;
        padding: 20px 0;
        &__logo {
            background: url('../img/logo.png') no-repeat;
        }
        &__description {
            color: $white;
        }
        &-callback {
            display: flex;
            flex-direction: column;
        }
    }
    &-banner {
        background: url('../img/present/15.jpg') no-repeat center;
        background-size: contain;
    }
    &-offer {
        height: 15vh;
        padding: 30px 0;
        background: $light-grey;
        text-transform: uppercase;
    }
}

.slider {
    overflow: hidden;
    background: linear-gradient(
        to right, 
        $dark-grey 25%,
        rgba(0, 0, 0, 0), 
        $dark-grey 75%);

    &-description {
        width: 450px;
        height: 700px;

        padding: 100px 0;

        display: flex;
        flex-direction: column;
        justify-content: space-around;        
    }
}

.offer {
    display: flex;
    align-items: center;

    color: $black;
    &-icon {
        position: relative;
        margin-right: 10px;
        .fal {
            color: rgb(214, 214, 214);
        }
        .far {
            position: absolute;
            top: 35%;
            right: 50%;
            transform: translateX(50%);
            color: $primary;
        }
    }    
}

.h1 {
    &_lg {
        font-size: 3.6rem;
    }
}

.text {
    &_lg {
        font-size: 2.6rem;
        @include regular;
    }
}

.link {
    &_disabled {
        color: $white;
        text-decoration: none;

        &:hover {
            color: $white;
            text-decoration: none;
        }        
    }
    &_active {
        color: $primary;
        text-decoration: underline $primary;

        &:hover {
            color: $primary;
            text-decoration: underline $primary;
        }
    }
    &_lg {
        font-size: 2.65rem;
        @include bold;
    }
}

.btn {
    width: 180px;
    padding: 15px 0;

    background: transparent;
    border: 2px solid $primary;
    outline: none;
    color: $primary;
    &_lg {
        width: 300px;
    }
    &_fill {
        background: $primary;
        color: $white;
    }
}
