@charset "UTF-8";
/* Import _misc */
/* Color scheme */
/* Fonts */
@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-Regular.eot");
  src: url("../fonts/OpenSans-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Regular.woff2") format("woff2"), url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.ttf") format("truetype"), url("../fonts/OpenSans-Regular.svg#OpenSans-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-Bold.eot");
  src: url("../fonts/OpenSans-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Bold.woff2") format("woff2"), url("../fonts/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans-Bold.ttf") format("truetype"), url("../fonts/OpenSans-Bold.svg#OpenSans-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
}

/* Fonts mixin */
/* Base settings */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1 {
  -webkit-margin-before: 0em;
          margin-block-start: 0em;
  -webkit-margin-after: 0em;
          margin-block-end: 0em;
}

body {
  margin: 0;
  padding: 0;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  font-size: 14px;
}

div[class$="container"] {
  width: 1000px;
  padding: 0 25px;
  margin: 0 auto;
}

button, button:active {
  text-transform: uppercase;
  outline: none;
  border: none;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}

.title {
  text-transform: uppercase;
  font-size: 32px;
}

.description {
  display: block;
  font-size: 18px;
}

.icon_blue {
  color: #1a75bb;
  padding-top: 60px;
  padding-bottom: 20px;
}

div[class$="overlay"] {
  background: -webkit-gradient(linear, left top, right top, color-stop(25%, #373737), color-stop(rgba(0, 0, 0, 0.5)), color-stop(75%, #373737));
  background: linear-gradient(to right, #373737 25%, rgba(0, 0, 0, 0.5), #373737 75%);
}

/* Main styles */
.header {
  background: #1c1c1c;
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-callback {
  padding-top: 20px;
}

.header-callback__phone {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
  font-size: 26px;
}

.header-callback__text {
  display: block;
  padding-bottom: 20px;
}

.header-callback__text_selected {
  color: #1a75bb;
}

.gift {
  background: url("../img/background.jpg") no-repeat center center;
  background-size: contain;
}

.gift-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.gift__text {
  font-size: 35px;
  padding-top: 115px;
  padding-bottom: 60px;
}

.gift__info {
  font-size: 20px;
  padding-bottom: 70px;
}

.gift__button {
  background: #1a75bb;
  color: #ffffff;
  font-size: 16px;
  padding: 15px 60px;
  margin-bottom: 110px;
}

.gift__button:hover {
  background: #14598e;
}

.gift-product-examples-price {
  position: relative;
  text-align: center;
  width: 120px;
  height: 140px;
  background: url("../img/shape.png") no-repeat center center;
}

.gift-product-examples-price span {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  bottom: 0;
  right: 0;
}

.gift-product-examples-price strong {
  font-size: 20px;
}

.gift-product-examples-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gift-product-examples-slider-item img {
  width: 350px;
}

.profits {
  background: #f7f8fc;
}

.profits-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.profits-content-item {
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profits-content-item span {
  color: #1c1c1c;
  font-size: 18px;
}

.profits-content-examples-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  width: 120px;
  height: 140px;
  background: url("../img/shape-blue.png") no-repeat center center;
}

.profits-content-examples-price i {
  color: #1a75bb;
}

.figures {
  color: #1c1c1c;
  text-align: center;
}

.figures-gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 70px;
  padding-bottom: 90px;
}

.figures-gallery_item {
  border: 2px solid #ffffff;
  outline: 2px solid #f7f8fc;
  margin: 2px;
  width: 125px;
  height: 125px;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
}

.present {
  text-align: center;
  background: url("../img/background.jpg") no-repeat center center;
}

.present-form_input {
  padding-top: 50px;
  padding-bottom: 30px;
}

.present-form_input input {
  text-transform: uppercase;
  padding: 21px 100px;
}

.creation {
  text-align: center;
  color: #1c1c1c;
}

.creation-text {
  padding-bottom: 70px;
}

.creation-content {
  position: relative;
  text-align-last: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 30px;
}

.creation-content:after {
  content: '';
  position: absolute;
  top: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  right: 50%;
  height: 250px;
  width: 2px;
  background: #f7f8fc;
}

.creation-content:before {
  content: '•';
  position: absolute;
  color: #1a75bb;
  font-size: 30px;
  top: -13px;
  right: 49.6%;
  z-index: 1;
}

.creation-step {
  width: 400px;
}

.creation-step__counter {
  display: block;
  color: #1a75bb;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}

.creation-step__description {
  display: block;
  text-transform: uppercase;
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}

.creation-step__info {
  text-align: left;
}

.creation-photo {
  width: 200px;
}

.creation-photo__image {
  width: 200px;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
}

.reasons {
  text-align: center;
  color: #1c1c1c;
}

.reasons-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.reasons-content-item {
  text-align: center;
  width: 250px;
  margin-right: 60px;
}

.reasons-content-item__text {
  display: block;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}

.reasons-content-item__description {
  display: block;
}

@media (min-width: 320px) and (max-width: 768px) {
  div[class$="container"] {
    width: 320px;
  }
  .header-container {
    text-align: center;
    -webkit-box-align: inherit;
        -ms-flex-align: inherit;
            align-items: inherit;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .gift {
    background-size: cover;
    text-align: center;
  }
  .gift-overlay {
    background: #202020;
    opacity: 0.9;
  }
  .gift-product-examples {
    display: none;
  }
  .profits-content {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .profits-content-item {
    border-bottom: 1px solid #e4e8f5;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
  }
  .profits-content-examples-price {
    display: none;
  }
  .present-form_input input {
    padding: 21px 50px;
  }
  .creation-content {
    text-align: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .creation-content:before, .creation-content:after {
    display: none;
  }
  .creation-step {
    text-align: center;
  }
  .creation-photo {
    display: none;
  }
  .creation-photo__image {
    display: none;
  }
  .reasons-content-item {
    margin-right: 0px;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  div[class$="container"] {
    width: auto;
    text-align: center;
  }
  .header-container {
    text-align: left;
    -webkit-box-align: inherit;
        -ms-flex-align: inherit;
            align-items: inherit;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .gift {
    background-size: cover;
    text-align: center;
  }
  .gift-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .gift-overlay {
    background: #202020;
    opacity: 0.9;
  }
  .gift-product-examples {
    display: none;
  }
  .creation-content {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .creation-content:before, .creation-content:after {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */