/* Import _misc */
@import '_misc/_colors';
@import '_misc/_fonts';
@import '_misc/_mixin';

/* Base settings */
* {
    box-sizing: border-box;
}
html {
    font-size: 10px;
}
body {
    margin: 0;
    padding: 0;

    color: $black;
    @include regular;
    font-size: 1.4rem;
}
h1, h2, h3, h4, h5, h6,
button, input, strong {
    text-transform: uppercase;
    @include bold;
}
button, input {
    text-decoration: none;
    outline: none;
    border: 1px solid transparent;
}
/* Main styles */

.far, .fas { 
    color: $primary;
}
.hidden {
    display: none;
}
.close {
    color: $white;

    position: absolute;
    top: 5vh;
    right: 10%;
    z-index: 101;
    
    cursor: pointer;
}
.obscuration {
    background: linear-gradient(
        to right, 
        $dark-grey 25%,
        rgba(0, 0, 0, .5), 
        $dark-grey 75%);
}
.container {
    width: 1200px;

    padding: 0 25px;
    margin: 0 auto;    
}
.row {
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

.header {
    color: $white;
    &-title {
        height: 100px;
        background: $black;
        padding: 20px 0;
        &__logo {
            background: url('../img/logo.png') no-repeat;
        }
        &-callback {
            display: flex;
            flex-direction: column;
        }
    }
    &-banner {
        position: relative;
        background: url('../img/present/7.jpg') no-repeat center;
        background-size: contain;
    }
    &-offer {
        height: 150px;
        padding: 30px 0;
        background: $light-grey;
        text-transform: uppercase;
    }
}
.slider {
    overflow: hidden;
    color: $white;
    &-description {
        width: 450px;
        height: 700px;

        padding: 100px 0;
        margin: 0 auto;

        display: flex;
        flex-direction: column;
        justify-content: space-around; 
        align-items: center;
        
        text-align: center;
    }
}
.offer {
    display: flex;
    align-items: center;

    color: $black;
    &-icon {
        position: relative;
        margin-right: 10px;
        .fal {
            color: rgb(214, 214, 214);
        }
        .far {
            position: absolute;
            top: 35%;
            right: 50%;
            transform: translateX(50%);
        }
    }    
}
.section {
    text-align: center;
    &-gallery {
        padding: 50px 0;

        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        
        position: relative;
        &-item {
            width: 160px;
            height: 160px;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            padding: 5px;               
            margin: 6px 0;            

            border: 1px solid $light-grey;
            transition: .3s ease-in-out;
            // transition: 1s step-start;
            // transition: 1s cubic-bezier(0.39, 0.575, 0.565, 1);
            &:hover {
                transform: scale(1.1);
                cursor: pointer;
            }
        }
        .full-screen {         
            width: 100%;
            height: 100vh;
            padding: 10vh 15%;
            margin: 0;            

            background: rgba(0, 0, 0, .75);
            border: none;

            position: fixed;
            top: 0;
            left: 0;
            z-index: 100;

            transform: none;
            cursor: default;
        }
    }
    .container {        
        padding: 50px 0;
    }
}
.subscribe {
    background: url('../img/present/5.jpg') no-repeat center;
    color: $white;
    &-form {
        width: 800px;

        padding: 75px 100px 75px;
        margin: 50px auto;

        position: relative;
        border: 2px solid $light-grey;
        border-image: conic-gradient(
            $light-grey 30%, 
            transparent 35% 65%,
            $light-grey 70%
        );
        border-image-slice: 1;
        &__input {
            width: 275px;            
            padding: 10px 15px;
            text-align: center;
        }
        &__btn {
            position: absolute;
            bottom: -25px;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}

.h1, .h2, .h3 {
    &_lg {
        // font-size: 3.6rem;
        transform: scale(1.3);
    }
}
.text {
    &_lg {
        font-size: 2.6rem;
        @include regular;
    }
}
.link {
    &_disabled {
        color: $white;
        text-decoration: none;

        &:hover {
            color: $white;
            text-decoration: none;
        }        
    }
    &_active {
        color: $primary;
        text-decoration: underline $primary;

        &:hover {
            color: $primary;
            text-decoration: underline $primary;
        }
    }
    &_lg {
        font-size: 2.65rem;
        @include bold;
    }
}
.btn {
    width: 180px;
    padding: 15px 0;

    background: transparent;
    border: 2px solid $primary;
    outline: none;
    color: $primary;
    cursor: pointer;

    transition: .25s ease;
    &_lg {
        width: 300px;
    }
    &_fill {
        background: $primary;
        color: $white;
        &:hover {
            background: transparent;
        }
    }
}
