@media (min-width: 320px) and (max-width:768px) {
    div[class$="container"] {
        width: 320px;
    }
    .header {
        &-container {
            text-align: center;
            align-items: inherit;
            flex-direction: column;
        }
    }
    .gift{
        background-size: cover;
        &-overlay {
            background: $dark-grey;
            opacity: 0.9;
        }
        text-align: center;
        &-product-examples {
            display: none;
        }
    }
    .profits {
        &-content {
            &-item {
                border-bottom: 1px solid darken($light-grey,5%);
                margin-top: 5px;
                margin-bottom: 5px;
            }
            flex-direction: column;  
            &-examples {
                &-price {
                    display: none;
                }
            }
                  
        }
    }
}
@media (min-width: 768px) and (max-width: 1200px) {
    div[class$="container"] {
        width: auto;
        text-align: center;
    }
    .header {
        &-container {
            text-align: left;
            align-items: inherit;
            justify-content: space-around;
            align-items: center;
        }
    }
    .gift{
        &-container {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        background-size: cover;
        text-align: center;
        &-overlay {
            background: $dark-grey;
            opacity: 0.9;
        }
        &-product-examples {
            display: none;
        }
    }
}
@media (max-width: 1600px) {

}

